<template name="home">
    <section class="home">
        <div class="row">
            <div class="col-md-4">
                <a class="link-m" href="/income">
                    <img alt="" class="link-main img-responsive" src="images/in-out2.png"/>
                </a>
                <h2 class="text-center">Ingresos/Egresos</h2>
            </div>
            <div class="col-md-4">
                <a class="link-m" href="#">
                    <img alt="" class="link-main img-responsive" src="images/money_bag.png"/>
                </a>
                <h2 class="text-center">Balance</h2>
            </div>
            <div class="col-md-4">
                <a class="link-m" href="#">
                    <img alt="" class="link-main img-responsive" src="images/project.png"/>
                </a>
                <h2 class="text-center">Proyeccion</h2>
            </div>
        </div>
    </section>
</template>
